/*********************************************
 * Ladies That UX Phoenix Style
 *********************************************/

/* Global style override */
.reveal section img { 
  background: none; 
  border: 0;
  box-shadow: none;
}

/* Custom LTUX styles */
.slide-alt h1,
.slide-alt h2,
.slide-alt h3,
.slide-alt h4,
.slide-alt h5,
.slide-alt h6 {
  color: #fff;
}

p.ltux-founders_name {
  margin-top: 0;
  font-size: 0.75em;
}

.ltux-founders--container {
  display: inline-block;
  width: 48%
}

.ltux-founders-phx--container {
  display: inline-block;
  width: 30%
}

.ltux-founders_founder,
.ltux-founders-phx_founder {
  display: inline;
  margin-bottom: 0 !important;
  border-radius: 50%;
}

.ltux-founders_founder {
  width: 50%;
  padding: 0 12.5%;
}

.ltux-founders-phx_founder {
  width: 50%;
  padding: 0 6.67%;
}

.list-social { list-style-type: none !important; }